<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="${name} + '的买卖中心'">商家中心</title>
<link href="/static/asserts/css/bootstrap.css" rel="stylesheet" type="text/css" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/asserts/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/static/asserts/css/style.css" rel="stylesheet" type="text/css" />
 <!-- Custom Theme files -->
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="keywords" content="" />
 <!---- start-smoth-scrolling---->
<script type="text/javascript" src="/static/asserts/js/move-top.js"></script>
<script type="text/javascript" src="/static/asserts/js/easing.js"></script>
    <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                });
            });
        </script>
 <!---- start-smoth-scrolling---->
</head>
    <body>
        <!-- container -->
            <!-- header -->
            <div id="home" class="header">
                <div class="container">
                <!-- top-hedader -->
                <div class="top-header">
                    <!-- /logo -->
                    <!--top-nav---->
                    <div class="top-nav">
                    <div class="navigation">
                    <div class="logo">
                        <h1><a th:href="@{/}">循环青年商家主页</a></h1>
                    </div>
                    <div class="navigation-right">
                        <span class="menu"><img src="../../static/asserts/images/menu.png" alt=" " /></span>
                        <nav class="link-effect-3" id="link-effect-3">
                            <ul class="nav1 nav nav-wil">
                                <li class="active"><a th:href="@{/user/info/}">返回用户中心</a></li>
                                <li><a class="scroll" data-hover="联系我" href="#contact">联系我</a></li>
                            </ul>
                        </nav>
                            <!-- script-for-menu -->
                                <script>
                                   $( "span.menu" ).click(function() {
                                     $( "ul.nav1" ).slideToggle( 300, function() {
                                     // Animation complete.
                                      });
                                     });
                                </script>
                            <!-- /script-for-menu -->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- /top-hedader -->
                </div>
            <div class="banner-info">
                <div class="col-md-7 header-right">
                    <h1>Hi !</h1>
                    <h6><span th:text="${user.uname}"></span>，这是我的资料哦。</h6>
                    <ul class="address">

                    <li>
                            <ul class="address-text">
                                <li><b>用户名</b></li>
                                <li th:text="${shoper.uname}"></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>性别</b></li>
                                <li>
                                  <span th:if="${shoper.usex}" th:text="${shoper.usex}"></span>
                                  <span th:unless="${shoper.usex}">暂无填写</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>年龄</b></li>
                                <li>
                                  <span th:if="${shoper.uage}" th:text="${shoper.uage}"></span>
                                  <span th:unless="${shoper.uage}">暂无填写</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>发货地址 </b></li>
                                <li>
                                  <span th:if="${shoper.uaddress}" th:text="${shoper.uaddress}"></span>
                                  <span th:unless="${shoper.uaddress}">暂无填写</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>邮箱 </b></li>
                                <li>
                                  <span th:if="${shoper.uemail}" th:text="${shoper.uemail}"></span>
                                  <span th:unless="${shoper.uemail}">暂无填写</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>联系方式 </b></li>
                                <li>
                                  <span th:if="${shoper.uphone}" th:text="${shoper.uphone}"></span>
                                  <span th:unless="${shoper.uphone}">暂无填写</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>个性宣言</b></li>
                                <li>
                                  <span th:if="${shoper.upersonInf}" th:text="${shoper.upersonInf}"></span>
                                  <span th:unless="${shoper.upersonInf}">暂无填写</span>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="col-md-5 header-left">
                    <img th:src="@{/media/{logo}(logo=${shoper.ulogo})}" style="width:379px;height:379px;overflow: hidden;object-fit: cover;" alt="">
                </div>
                <div class="clearfix"> </div>

              </div>
            </div>
        </div>
    </div>
<div class="footer" id="contact">
    <div class="container">
    <div class="service-head one text-center">
                        <h4>联系我</h4>
                        <h3>快<span>和我联系吧</span></h3>
                        <span class="border two"></span>
                    </div>
        <div class="mail_us">
            <div class="col-md-6 mail_left">
                <div class="contact-grid1-left">
                    <div class="contact-grid1-left1">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        <h4>邮箱联系</h4>
                        <ul>
                            <li>邮箱：<a href="mailto:info@example.com" th:text="${shoper.uemail}"></a></li>
                        </ul>
                    </div>
                </div>
                    <div class="contact-grid1-left">
                        <div class="contact-grid1-left1">
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                            <h4>电话联系</h4>
                            <ul>
                                <li>联系电话: <span th:text="${shoper.uphone}"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="contact-grid1-left">
                        <div class="contact-grid1-left1">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            <h4>发货地址</h4>
                            <ul>
                                <li>地址: <span th:text="${shoper.uaddress}"></span></li>
                                <li>收件人：<span th:text="${shoper.ushou}"></span></li>
                            </ul>
                        </div>
                    </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 mail_right">
                <form th:if="${name}" th:action="@{/user/shoper_information/{n}/(n=${name})}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="text" name="title" required="" value="商品名称">
                    <textarea name="Message" required="">Message...</textarea>
                    <input type="submit" value="什么？想了解商品？发消息给我吧！">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!--start-smooth-scrolling-->
                        <script type="text/javascript">
                                    $(document).ready(function() {
                                        $().UItoTop({ easingType: 'easeOutQuart' });
                                    });
                                </script>
                                <!--end-smooth-scrolling-->
<!-- //for bootstrap working -->
    <script src="/static/asserts/js/bootstrap.js"></script>
    <!-- flash message alerts -->
    <div th:if="${message}">
        <script th:inline="javascript">
            var msg = [[${message}]];
            alert(msg);
        </script>
    </div>

    </body>
</html>
