<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
<th:block layout:fragment="script">
    <script type="text/javascript">
        <th:block th:if="${error_info}">
            xtalert.alertError('[[${error_info}]]')
        </th:block>
        <th:block th:if="${info}">
            xtalert.alertInfo('[[${info}]]')
        </th:block>
        <th:block th:if="${success_info}">
            xtalert.alertSuccessToast('[[${success_info}]]！');
        </th:block>
    </script>
</th:block>
</head>
<body>
<th:block layout:fragment="center_body">
    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <div class="information clearfix">
                <a th:href="@{/user/myself_information/}"><img th:src="@{/media/{logo}(logo=${user.ulogo})}" alt="头像"></a>
            </div>
            <ul>
                <li><a th:href="@{/user/info/}">· 个人信息</a></li>
                <li><a th:href="@{/user/publishers/}" class="active">· 发布商品</a></li>
                <li><a th:href="@{/user/changeInformation/}">· 修改资料</a></li>
                <li><a th:href="@{/user/changeInPwd/}">· 修改密码</a></li>
                <li><a th:href="@{/user/order/1}">· 全部订单</a></li>
                <li><a th:href="@{/user/site/}">· 收货地址</a></li>
            </ul>
        </div>
        <div class="right_content clearfix">

                <h3 class="common_title2">商品发布</h3>
                <div class="site_con">
                    <form th:action="@{/user/publishers/}" method="post" enctype="multipart/form-data">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="form_group">
                            <label>商品名称：</label>
                            <input type="text" name="title">
                        </div>
                        <div class="form_group">
                            <label>商品图片：</label>
                            <input type="file" name="pic">
                        </div>
                        <div class="form_group">
                            <label>价格：</label>
                            <input type="text" name="price">
                        </div>
                        <div class="form_group">
                            <label>商品简介：</label>
                            <input type="text" name="jianjie">
                        </div>
                        <div class="form_group">
                            <label>库存：</label>
                            <input type="text" name="kucun">
                        </div>
                        <div class="form_group">
                            <label>详细描述：</label>
                            <input type="text" name="content">
                        </div>
                        <div class="form_group">
                            <label>商品类型：</label>
                            <select name="type_id">
                                <option th:each="typeinfo : ${typeinfos}" th:value="${typeinfo.id}" th:text="${typeinfo.ttitle}"></option>
                            </select>
                        </div>
                        <input type="submit" name="" value="发布" class="info_submit">
                    </form>
                </div>
        </div>
    </div>
    <!-- flash message alerts -->
    <div th:if="${message}">
        <script th:inline="javascript">
            var msg = [[${message}]];
            alert(msg);
        </script>
    </div>
</th:block>
</body>
</html>
