<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
<th:block layout:fragment="head">
<script>
    $(function () {
        total();
        $('#check_all').click(function () {
            state=$(this).prop('checked');
            $(':checkbox:not(#check_all)').prop('checked',state)
        });
        $(':checkbox:not(#check_all)').click(function () {
            if($(this).prop('checked')){
                if($(':checked').length+1==$(':checkbox').length){
                    $('#check_all').prop('checked',true);
                }
            }
            else{
                $('#check_all').prop('checked',false)
            }
        });
        $('.add').click(function () {
            txt=$(this).next();
            txt.val(parseFloat(txt.val())+1).blur();
        });
        $('.minus').click(function () {
            txt=$(this).prev();
            txt.val(parseFloat(txt.val())-1).blur()
        });
        $('.num_show').blur(function () {
            count=parseFloat($(this).val());
            kucun=parseFloat($(this).attr('kucun'));
            if(count<1){
                alert('数量不能小于1');
                $(this).val(1);
                count = 1;
                $(this).focus();
                return;
            }
            else if(count>kucun){
             alert('数量不可超过库存');
             $(this).val(kucun);
             count = kucun;
             $(this).focus();
             return;
            }
            cart_id = $(this).parents('.cart_list_td').attr('id');
            $.get('/cart/edit'+cart_id+'_'+count+'/',function (data) {
                if(data.count==0){
                    total();
                }
                else {
                    $(this).val(data.count)
                }
            })
        })
    });
    function cart_del(cart_id) {
            del = confirm('确定删除');
            if(del){
                $.get('/cart/delete'+cart_id+'/',function (data) {
                    if(data.ok==1){
                        $('ul').remove('#'+cart_id);
                        total();
                    }
                })
            }
        }
    function total(){
        total1=0;
        total_count=0;
            $('.col07').each(
                function () {
                count=$(this).prev().find('input').val();
                price = $(this).prev().prev().text();
                total0=parseFloat(count)*parseFloat(price);
                    $(this).text(total0.toFixed(2));
                total1 += total0;
                total_count++;
            });
            $('#total').text(total1.toFixed(2));
            $('.total_count1').text(total_count);
        }
    function go_order() {
        s = '';
        $(':checked:not(#check_all)').each(function () {
             id = $(this).parents('.cart_list_td').attr('id');
             s = s +'cart_id='+id + '&'
        });
        s=s.substring(0,s.length-1);
        location.href = '/order?'+s ;
        }
</script>
</th:block>
</head>
<body>
<th:block layout:fragment="center_body">
    <div style="max-width:var(--max-w);margin:24px auto 0;padding:0 24px">
        <p style="font-size:12px;color:var(--gray-400);text-transform:uppercase;letter-spacing:2px;margin-bottom:16px">Shopping Cart</p>
        <div class="total_count" style="margin:0 0 16px;padding:0;font-size:14px;color:var(--gray-600)">共 <em th:text="${#lists.size(carts)}" style="font-weight:600;color:var(--gray-900)"></em> 件商品</div>
    </div>

    <ul class="cart_list_th clearfix" style="padding:0 24px">
        <li class="col01">商品名称</li>
        <li class="col02">卖家</li>
        <li class="col03">单价</li>
        <li class="col04">数量</li>
        <li class="col05">小计</li>
        <li class="col06">操作</li>
    </ul>

    <ul class="cart_list_td clearfix" th:each="cart : ${carts}" th:id="${cart.id}">
        <li class="col01"><input type="checkbox" name="" id="check_goods" checked="checked" style="accent-color:var(--black)"></li>
        <li class="col02"><img th:src="@{/media/{pic}(pic=${cart.goods.gpic})}"></li>
        <li class="col03"><span th:text="${cart.goods.gtitle}"></span><br><em><span th:text="${cart.goods.gprice}"></span>元</em><br><em>库存：<span id="goods_kucun" th:text="${cart.goods.gkucun}"></span></em></li>
        <li class="col04" th:text="${cart.goods.gunit}"></li>
        <li class="col05" th:text="${cart.goods.gprice}"></li>
        <li class="col06">
            <div class="num_add">
                <a href="javascript:;" class="add fl">+</a>
                <input type="text" class="num_show fl" th:value="${cart.count}" th:attr="kucun=${cart.goods.gkucun}">
                <a href="javascript:;" class="minus fl">-</a>
            </div>
        </li>
        <li class="col07"></li>
        <li class="col08"><a href="javascript:;" th:onclick="'cart_del(' + ${cart.id} + ');'">删除</a></li>
    </ul>

    <ul class="settlements clearfix">
        <li class="col01"><input type="checkbox" name="" checked="" id="check_all" href="javascript:;" style="accent-color:var(--black)"></li>
        <li class="col02">全选</li>
        <li class="col03">合计：<span>&yen;</span><em id="total"></em><br>共计<b class="total_count1"></b>件商品</li>
        <li class="col04"><a href="javascript:go_order()">去结算</a></li>
    </ul>
</th:block>
</body>
</html>
