<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<body>
<th:block layout:fragment="center_body">
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部分类</h1>
                <span></span>
                <ul class="subnav">
                    <li><a href="/list1_1_1/">书籍</a></li>
                    <li><a href="/list2_1_1/">家电</a></li>
                    <li><a href="/list3_1_1/">衣物</a></li>
                    <li><a href="/list4_1_1/">出行</a></li>
                    <li><a href="/list5_1_1/">乐器</a></li>
                    <li><a href="/list6_1_1/">智能</a></li>
                </ul>
            </div>
        </div>
    </div>
    <th:block layout:fragment="center_content"></th:block>
</th:block>
</body>
</html>
